/competition/train_files/
/competition/test_files/
/competition/idx/
/competition/cranfield_train/train_files/train/
/competition/cranfield_test/test_files/test/
/competition/bert/tuned/
/competition/cranfield_metapy/train_files/
/backup/
/competition/datasets/
/competition/cranfield_metapy/idx-test-title/
/competition/cranfield_metapy/idx-train-abstract/
/competition/cranfield_metapy/cranfield-train-text/
/competition/cranfield_metapy/idx-train-text/
/competition/cranfield_metapy/cranfield-test-abstract/
/competition/cranfield_metapy/idx-test-abstract/
/competition/cranfield_metapy/idx-train-title/
/competition/cranfield_metapy/cranfield-train-queries.txt
/competition/cranfield_metapy/cranfield-train-title/
/competition/cranfield_metapy/config-train-abstract.toml
/competition/cranfield_metapy/config-train-title.toml
/competition/cranfield_metapy/idx-test-text/
/competition/cranfield_metapy/cranfield-test-title/
/competition/cranfield_metapy/cranfield-train-abstract/
/competition/cranfield_metapy/cranfield-test-queries.txt
/competition/cranfield_metapy/cranfield-qrels.txt
/competition/cranfield_metapy/config-train-text.toml
/competition/cranfield_metapy/cranfield-test-text/
/competition/tfr_custom/tuned/
/competition/tfr_custom/tfrecord_data/
/competition/tfr_custom/bazel-bin/
/competition/tfr_custom/bazel-out/
/competition/tfr_custom/bazel-testlogs/
/competition/tfr_custom/bazel-tfr_custom/
